---
layout: default-hbf
active: Home
---

<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/items.css">

<!-- TODO: featured carousel -->

<!-- TODO: split into web apps, extensions, themes, websites, android apps, downloads, libraries, scripts, articles
add hamburger icons for mobile
add footer
add donate to more menu
add sharethis to footer, contact, top top, home

r g b
g b r
b r g
r g b
g b r

rgbgbrbrg
i%9=
0,5,7:r
1,3,8:g
2,4,6:b

  -->

<div class="text-center">
<div id="itemContainer" class="text-center">
{% for item in site.data.tools %}

	{% assign loopindex = forloop.index0 | modulo:9 %}
		{% if loopindex==0 or loopindex==3 or loopindex==6 %}
			<div class="row">
		{% endif %}

	<a class="itemLink" href="{{item.url}}" target="_blank">

		{% if loopindex==0 or loopindex==5 or loopindex==7 %}
			<div class="itemDiv redItem col-sm-3">
		{% elsif loopindex==1 or loopindex==3 or loopindex==8 %}
			<div class="itemDiv greenItem col-sm-3">
		{% elsif loopindex==2 or loopindex==4 or loopindex==6 %}
			<div class="itemDiv blueItem col-sm-3">
		{% endif %}

		<p class="itemName">{{item.name}}</p>
		<img class="itemIcon" src="{{site.baseurl}}/{{item.icon}}">

	</a>

	{% if loopindex==2 or loopindex==5 or loopindex==8 %}
		</div>
	{% endif %}


</div>

{% endfor %}

</div>
</div>
