---
layout: default-hbf
title: New Projects
active: New Projects
permalink: /new-projects/
---

<h3 style="color: #fff; text-align: center;">New Projects</h3>

<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/items.css">

<div class="container">
<div id="itemContainer">
{% assign newprojects = site.data.tools | where:"new","true" %}
{% for item in newprojects %}

	{% assign loopindex = forloop.index0 | modulo:9 %}
	  {% if loopindex==0 or loopindex==3 or loopindex==6 %}
	  	<div class="row">
	  {% endif %}

	<a href="{{item.url}}" target="_blank">

	  {% if loopindex==0 or loopindex==5 or loopindex==7 %}
		<div class="itemDiv redItem col-sm-3">
	  {% elsif loopindex==1 or loopindex==3 or loopindex==8 %}
		<div class="itemDiv greenItem col-sm-3">
	  {% elsif loopindex==2 or loopindex==4 or loopindex==6 %}
	  	<div class="itemDiv blueItem col-sm-3">
	  {% endif %}

	<p class="itemName">{{item.name}}</p>
	<img class="itemIcon" src="{{site.baseurl}}/{{item.icon}}">

	</a>

	  {% if loopindex==2 or loopindex==5 or loopindex==8 %}
	  	</div>
	  {% endif %}

</div>	

{% endfor %}

</div></div>
