.rgb-banner {
  width: 100%;
  /*min-width: 440px;*/
  /*height: 110px;*/
  background-size: 100% auto;
  text-align: center;

  /*NEW*/


  
}

.rgb-banner.red-select {
  background-color: rgba(153,51,51,.6);
}
.rgb-banner.green-select {
  background-color: rgba(51,153,51,.6);
}
.rgb-banner.blue-select {
  background-color: rgba(51,51,153,.6);
}

.rgb-banner-icon {
  height: 60px;
  margin-top: -12px;
  transition: transform 1s ease-out;
  -webkit-transition: -webkit-transform 1s ease-out;
}
.rgb-banner-icon:hover {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
}
.rgb-banner-text, small {
  margin-top: 10px;
  display: inline-block;
    color:  #fff;

  font-weight: 700;

  
  /*font-size: 40pt;*/
  /*letter-spacing: -1px;*/
}
.rgb-banner-subtext {
  color: #fff;
  /*font-size: 18pt;*/
  /*margin-top: -36px;*/
}