/** {
  text-align: center;
}*/

/*TODO:
style orange outline on menu button on sm screens
style search button and input search including hover, focus, active etc
*/

#searchForm {
  margin-right: 25px;
}
.btn-outline-success {
  border: 2px solid #393;
}
.btn-outline-success:focus, .input-success:focus {
  border: 5px solid #393 !important;
  box-sizing: border-box !important;
}
.navbar-toggler {
  border: 0;
  width: 50px;
  height: 50px;
  outline: 0!important;
}
.navbar-toggler:focus {
  border: 2px solid #fff;
}
.fa-bars {
  color: #fff !important;
}

.rgb-header.nav-item {
  font-size: 125%;
}
.rgb-header.nav-item.red.active {
  background: #933;
}
.rgb-header.nav-item.green.active {
  background: #393;
}
.rgb-header.nav-item.blue.active {
  background: #339;
}
.rgb-header.nav-item.red.show {
  background: #933;
}
.rgb-header.nav-item.green.show {
  background: #393;
}
.rgb-header.nav-item.blue.show {
  background: #339;
}
.rgb-header.nav-item.red:hover {
  background: #933;
}
.rgb-header.nav-item.green:hover {
  background: #393;
}
.rgb-header.nav-item.blue:hover {
  background: #339;
}
.rgb-header.dropdown-toggle::after {
    margin-bottom: -2px;
}
.rgb-header.dropdown-menu {
  border: 2px solid #333;
  border-radius: none;
}
.rgb-header.dropdown-item {
  border: 2px solid #333;
}
.rgb-header.dropdown-item.red {
  /*background: #c66;*/
  background: #333;
}
.rgb-header.dropdown-item.green {
  /*background: #6c6;*/
  background: #333;
}
.rgb-header.dropdown-item.blue {
  /*background: #66c;*/
  background: #333;
}
.rgb-header.dropdown-item.red:hover {
  background: #933;
}
.rgb-header.dropdown-item.green:hover {
  background: #393;
}
.rgb-header.dropdown-item.blue:hover {
  background: #339;
}
.navbar-brand {
  color: #fff !important;
}
.navbar-brand:hover {
  text-decoration: underline;
}
.navbar-toggler-icon {
  color: #f00 !important;
}
.navbar-toggler {

}
/*@media only screen and (max-width: 575.5px) {
  .rgb-header.dropdown-menu {
    border: none !important;
  }
  .rgb-header.dropdown-item {
    border: none !important;
  }
}*/