.itemDiv {
  display: inline-block;
  text-align: center !important;
  /*width: 25%;*/
  box-sizing: border-box;
  background-color: #333;
  color: #fff;
  font-size: 150%;
  border: 5px solid #fff;

  /*cursor: pointer;*/
  /*height: 150px;*/

}

.itemDiv {
  padding: 10px;
  margin: 10px;
}
.row {
  margin-left: 20px;
  margin-right: 20px;
}

.itemDiv.invisible {
  display: none;
}

.itemIcon {
  width: 64px;
}
/*  .itemDiv:hover {
    border-color: #fff !important;
  }*/
  .itemDiv.redItem {
    border-color: #933;
  }
  .itemDiv.greenItem {
    border-color: #393;
  }
  .itemDiv.blueItem {
    border-color: #339;
  }

  .itemDiv.redItem:hover {
    background-color: #933 !important;
  }
  .itemDiv.greenItem:hover {
    background-color: #393 !important;
  }
  .itemDiv.blueItem:hover {
    background-color: #339 !important;
  }

  #itemContainer {
    text-align: center !important;
    /*background-color: #fff;*/
    display: inline-block !important;
  }

  .itemLink, a, .itemLink:hover, a:hover {
    color: #fff;
    display: inline-block;
    /*text-align: center !important;*/
  }
  .row {
    display: inline;
    text-align: center !important;
  }